DATABASE_SECRET_KEY: 'randomkey'
DB_URI: postgresql://quay:quay@quay-db/quay
# If service tool backend is run outside a container:
#DB_URI: postgresql://quay:quay@0.0.0.0:5432/quay
is_local: true

# Used to test authentication in local env
test_auth: false
authentication:
  url: http://host.docker.internal:8081/auth
  # If keycloak is run outside a container
#  url: http://localhost:8081/auth/
  realm: Test
  clientid: test-client-id
  roles:
    ADMIN_ROLE: 'admin-role'
    EXPORT_COMPLIANCE_ROLE: 'export-compliance-role'
ENV: development
DEBUG: true
