networks:
  default:
    external: true
    name: quay_default

services:
#  Not need for local development
#  quay-service-tool-auth:
#    container_name: "quay-service-tool-auth"
#    image: jboss/keycloak
#    ports:
#      - '8081:8080'
#    environment:
#      - KEYCLOAK_USER=admin
#      - KEYCLOAK_PASSWORD=password

  quay-service-tool-api:
    container_name: "quay-service-tool-api"
    build: ./backend
    command: --reload # Appends to entrypoint - enables hot-reloading
    volumes:
      - ./backend:/backend
      - backend_venv:/backend/.venv
    environment:
      ENV: development
      DEBUG: "True"
      PYTHONUNBUFFERED: "True"
      CONFIG_PATH: /backend/config
      IS_LOCAL: "True"

  quay-service-tool-client:
    container_name: "quay-service-tool-client"
    build: ./frontend
    volumes:
      - './frontend:/usr/src/app'
      - frontend_node_modules:/usr/src/app/node_modules
    ports:
      - '9000:9000'
    depends_on:
      - quay-service-tool-api
    env_file:
      - ./frontend/.env
    environment:
      - NODE_ENV=development
      - TARGET_URL=http://quay-service-tool-api:5000

volumes:
  backend_venv:
  frontend_node_modules:
