git+https://github.com/quay/quay@bf82e26c56416ec3d0a812c051baa60ccdc76bea#egg=quay
markupsafe==2.1.3
itsdangerous==2.1.2
flask-restful==0.3.10
Flask-Login==0.6.3
python-keycloak==0.24
prometheus-client==0.13.1
prometheus-flask-exporter==0.18.7
text_unidecode==1.3
psycopg2-binary==2.9.1
# service tool & cloudwatch log process are started through supervisor
supervisor==4.2.5
supervisor-logging==0.0.9
supervisor-stdout @ git+https://github.com/quay/supervisor-stdout.git@9bdf630d0d1b4a16cf8b60b96adafb1ed98e7380
PyMySQL==1.1.1
redis-py-cluster==2.1.3
