<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
          <script>
              var AUTH_URL = '{{ AUTH_URL }}';
              var AUTH_REALM = '{{ AUTH_REALM }}';
              var AUTH_CLIENTID = '{{ AUTH_CLIENTID }}';
              var ADMIN_ROLE = '{{ ADMIN_ROLE }}';
              var EXPORT_COMPLIANCE_ROLE = '{{ EXPORT_COMPLIANCE_ROLE }}';
        </script>
        <title>Quay Customer Service Tool</title>
        <meta id="appName" name="application-name" content="Quay Customer Service Tool">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/svg+xml" href="/images/favicon.png">
        <base href="/">
        <link href="/app.css" rel="stylesheet">
    </head>
    <body>
        <noscript>Enabling JavaScript is required to run this app.</noscript>
        <div id="root"></div>
        <script src="/app.bundle.js"></script>
    </body>
</html>
